<!DOCTYPE html>
<html>
<head>
  <title>HideAndStreet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/header" %>
	<%= render 'layouts/messages' %>
	<%= yield %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry' %>
</body>
</html>
